package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import java.util.Optional;
import org.springframework.web.context.request.NativeWebRequest;
import org.springframework.security.access.prepost.PreAuthorize;

/**
 * A delegate to be called by the {@code {{classname}}Controller}.
 * Implement this interface with a {@link org.springframework.stereotype.Service} annotated class.
 */
public interface {{classname}}Delegate {

    default Optional<NativeWebRequest> getRequest() {
        return Optional.empty();
    }

{{#operations}}
{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     */
    {{#isDeprecated}}@Deprecated{{/isDeprecated}}
    {{#vendorExtensions.x-required-permission}}
    @PreAuthorize("hasPermission(null, '{{vendorExtensions.x-required-permission}}')")
    {{/vendorExtensions.x-required-permission}}
    default {{#responseWrapper}}{{.}}<{{/responseWrapper}}{{#returnType}}{{{.}}}{{/returnType}}{{^returnType}}Void{{/returnType}}{{#responseWrapper}}>{{/responseWrapper}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}} {
        throw new UnsupportedOperationException("Not implemented");
    }

{{/operation}}
{{/operations}}
}
